<h1><%= @camper.name %></h1>
<h3>Age: <%= @camper.age %></h3>

<% if @camper.activities.count > 0 %>
    <h3>Activities: </h3>
    <ul>
        <% @camper.sign_up.each do |sign_up|  %>
            <li><%= link_to sign_up.activity.name, activity_path(sign_up.activity)  %> at <%= sign_up.pretty_time %> </li>
        <% end %>
    </ul>
<% else %>
    <h3>No upcoming activities</h3>
<% end %>

<%= link_to "Sign Up for an Activity", new_sign_up_path %>